.custom-input,
.contract-custom-input
{
  color: var(--text);
  padding: 15px 15px;
  border: 1px solid var(--line-input);
  border-radius: 1rem;
  width: 100%;
  font-size: 1.2rem;
  outline: none; /* 브라우저 기본 파란 아웃라인 제거 */
  transition: border-color 0.2s ease; /* 부드러운 애니메이션 */
  background-color: var(--modal-bg); /* 수정된 부분 */
}

.contract-custom-input {
  padding: 7px 10px;
  border-radius: 0.5rem;  
  font-size: 0.8rem;
}

.custom-input::placeholder,
.contract-custom-input::placeholder
{
  color: var(--placeholder);
}

.custom-input:focus,
.contract-custom-input:focus
{
  border-color: #4b52ff; /* 파란색 테두리 */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2); /* 부드러운 파란빛 그림자 */
}